:root {
    /* Fonts */
    --font-primary: 'Roboto Slab', serif;
    --font-monospace: 'Roboto Mono', monospace;

    /* Theme Colors */
    --foreground: #232329;
    --background: #ffffff;
    --accent: #5a64f0;

    --accent-darker: #323786;
    --accent-dark: #434bb6;
    --accent-dark-alt: #5059d8;
    --accent-primary: #5a64f0;
    --accent-secondary: #6c75f2;
    --accent-tertiary: #999ff6;
    --accent-light: #cbcefa;
    --accent-lighter: #e3e5fd;
    --accent-lighter-alt: #f8f8fe;

    --neutral-dark: #2f3038;
    --neutral-primary: #3e3f4a;
    --neutral-primary-alt: #525360;
    --neutral-secondary: #848592;
    --neutral-secondary-alt: #8a8886;
    --neutral-tertiary: #bfc0c9;
    --neutral-tertiary-alt: #c8c8c8;
    --neutral-quaternary: #d0d0d0;
    --neutral-quaternary-alt: #dadada;
    --neutral-light: #eaeaea;
    --neutral-lighter: #f4f4f4;
    --neutral-lighter-alt: #f8f8f8;

    /* Spectrum Colors */
    --indigo: hsl(236, 83%, 64%);
    --purple: hsl(258, 83%, 64%);
    --violet: hsl(281, 83%, 64%);
    --pink: hsl(303, 83%, 64%);
    --red: hsl(326, 83%, 64%);
    --lava: hsl(348, 83%, 64%);
    --orange: hsl(11, 83%, 64%);
    --amber: hsl(33, 83%, 64%);
    --yellow: hsl(56, 83%, 64%);
    --lime: hsl(78, 83%, 64%);
    --mint: hsl(101, 83%, 64%);
    --green: hsl(123, 83%, 64%);
    --teal: hsl(146, 83%, 64%);
    --cyan: hsl(168, 83%, 64%);
    --sky: hsl(191, 83%, 64%);
    --blue: hsl(213, 83%, 64%);
}

/* Adapted from Milligram v1.4.1 https://milligram.io. Copyright (c) 2020 CJ Patoilo. Licensed under the MIT license */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    background: var(--background);
    color: var(--foreground);
}

/* Markdown */

.md *,
.md *:after,
.md *:before {
    box-sizing: inherit;
}

.md {
    font-size: 1.6rem;
    line-height: 1.6;
}

.md blockquote {
    border-left: 0.3rem solid var(--neutral-quaternary-alt);
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1.5rem;
}

.md blockquote *:last-child {
    margin-bottom: 0;
}

.md code,
.md pre {
    font-family: var(--font-monospace);
    background: var(--neutral-lighter);
    font-size: 86%;
}

.md code {
    border-radius: .4rem;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
}

.md pre {
    border-left: 0.3rem solid var(--accent);
    padding: 1rem 1.5rem;
    overflow: auto;
}

.md pre code {
    /* Revert ".md code" styling. The markdown-rendering puts code blocks in "pre code". */
    border-radius: 0;
    margin: 0;
    padding: 0;
    white-space: pre;
    font-size: 100%;
}

.md hr {
    border: 0;
    border-top: 0.1rem solid var(--neutral-tertiary);
    margin: 3.0rem 0;
}

.md a {
    color: var(--accent);
    text-decoration: none;
}

.md a:focus,
.md a:hover {
    color: var(--foreground);
}

.md dl,
.md ol,
.md ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.md dl dl,
.md dl ol,
.md dl ul,
.md ol dl,
.md ol ol,
.md ol ul,
.md ul dl,
.md ul ol,
.md ul ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3.0rem;
}

.md ol {
    list-style: decimal inside;
}

.md ul>li:before {
    content: "—";
    text-indent: -1rem;
    margin-right: .5rem;
}

/* Workaround: Markdown renderer adds superfluous p inside ol's li.*/
.md ol li p {
    margin: 0;
}

.md dd,
.md dt,
.md li {
    margin-bottom: 0.5rem;
}

.md blockquote,
.md dl,
.md figure,
.md ol,
.md p,
.md pre,
.md table,
.md ul {
    margin-bottom: 2.5rem;
}

.md table {
    border-spacing: 0;
    display: block;
    overflow-x: auto;
    text-align: left;
    width: 100%;
}

.md td,
.md th {
    border-bottom: 0.1rem solid var(--neutral-quaternary);
    padding: 1.2rem 1.5rem;
}

.md td:first-child,
.md th:first-child {
    padding-left: 0;
}

.md td:last-child,
.md th:last-child {
    padding-right: 0;
}

@media (min-width: 40rem) {
    .md table {
        display: table;
        overflow-x: initial;
    }
}

.md b,
.md strong {
    font-weight: bold;
}

.md p {
    margin-top: 0;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    font-weight: 300;
    letter-spacing: -.1rem;
    margin-bottom: 2.0rem;
    margin-top: 0;
}

.md h1 {
    font-size: 4.6rem;
    line-height: 1.2;
}

.md h2 {
    font-size: 3.6rem;
    line-height: 1.25;
}

.md h3 {
    font-size: 2.8rem;
    line-height: 1.3;
}

.md h4 {
    font-size: 2.2rem;
    letter-spacing: -.08rem;
    line-height: 1.35;
}

.md h5 {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
}

.md h6 {
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.4;
}

.md h1:only-child,
.md h2:only-child,
.md h3:only-child,
.md h4:only-child,
.md h5:only-child,
.md h6:only-child,
.md p:only-child {
    margin: 0;
}

.md img {
    max-width: 100%;
}

/* Source: https://github.com/micromark/micromark-extension-gfm-footnote */

/* Style the footnotes section. */
.md .footnotes {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-top: 1.2rem;
    border-top: 1px solid var(--neutral-quaternary);
}

.md .footnotes ol li p {
    display: inline;
}


/* Hide the section label for visual users. */
.md .footnotes .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    word-wrap: normal;
    border: 0;
}

/* Place [ and ] around footnote calls. */
.md .footnotes [data-footnote-ref]::before {
    content: '[';
}

.md .footnotes [data-footnote-ref]::after {
    content: ']';
}

.table-md p {
    margin: 0;
}

/* Layout */

.art {
    height: 2rem;
    background-color: var(--accent);
    background-size: 5px 5px;
    background-image: radial-gradient(var(--background) 1px, transparent 1px);
}

.page {
    max-width: 720px;
    background-color: var(--background);
    margin: 1rem auto 2rem;
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    gap: .5rem;
    font-size: 1.6em;
    line-height: 1.6;
    color: var(--foreground);
}

.header .title {
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.header .caption {
    font-size: .8em;
    letter-spacing: 0;
}

.main {
    padding: 1rem 0 2rem;
}